html, body {
  height: 100%;
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

#main {
  display: flex;
  height: 100%;
}

#menu {
  width: 20vw;
  min-width: 200px;
  padding: 10px;
  background: #333;
  color: #fff;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: scroll;
}

#menu h1 {
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #888;
}

#menu a {
  color: #fff;
  background: #555;
  padding: 5px;
  border-radius: 5px;
  line-height: 2em;
  text-decoration: none;
}

#menu a.active {
  background: #4673AD;
}

#menu a:visited {
  color: #fff;
}

#menu ul {
  padding: 0;
  padding-top: 0.5em;
  border-top: 3px solid #888;
}

#menu ul li {
  list-style-type: none;
  padding: 0.75em 0;
  border-bottom: 1px solid #555;
}

#menu ul li::before {
  content: "";
  width: 15px;
  height: 15px;
  margin-right: 5px;
  float: left;
}

#menu ul li.bus::before {
  background: url('../img/menu-icons.png') 0 0;
}

#menu ul li.food::before {
  background: url('../img/menu-icons.png') 0 30px;
}

#menu ul li.lodging::before {
  background: url('../img/menu-icons.png') 0 15px;
}

#menu ul li:hover {
  background: #555;
  cursor: pointer;
}

#menu ul li.active, #menu ul li.active:hover {
  background: #4673AD;
}

#menu input {
  display: block;
  padding: 0.25em;
  width: 90%;
}

#map {
  width: 80vw;
  height: 100%;
}
